<div class="p-4 col-sm-12">
    <h2>Your peace of mind is
        <span>our number one priority.</span></h2>
        <hr class="my-5 ">
        <p class="mt-5">UniversaCare offers a range of services for in-home care. We are your partners in care, and work with you to come up with a plan of action.</p>
    </div>
<div id="carouselExampleControls" class="carousel slide " data-bs-ride="carousel">
    <div class="carousel-inner ">
      <div class="carousel-item active">
        <div class="card mx-auto" style="width: 18rem;">
            <img src="assets/Images/card2.png" class="mx-auto p-3" alt="...">
            <div class="card-body">
                <h6 class="card-title">Hourly Home care</h6>
              <p class="card-text">4x higher coverage limit than traditional policies for computers and home office equipment.</p>
            </div>
            <div class="next text-right m-2">
                <a href="" class="text-center p-1 px-3"><i class="far fa-angle-right"></i></a>
            </div>
          </div>
      </div>
      <div class="carousel-item">
        <div class="card mx-auto" style="width: 18rem;">
            <img src="assets/Images/card2.png" class="mx-auto p-3" alt="...">
            <div class="card-body">
                <h6 class="card-title">Personal Care</h6>
              <p class="card-text">4x higher coverage limit than traditional policies for computers and home office equipment.</p>
            </div>
            <div class="next text-right m-2">
                <a href="" class="text-center p-1 px-3"><i class="far fa-angle-right"></i></a>
            </div>
          </div>
      </div>
      <div class="carousel-item">
        <div class="card mx-auto" style="width: 18rem;">
            <img src="assets/Images/card1.png" class="mx-auto p-3" alt="...">
            <div class="card-body">
                <h6 class="card-title">Private Nursing</h6>
              <p class="card-text">4x higher coverage limit than traditional policies for computers and home office equipment.</p>
            </div>
            <div class="next text-right m-2">
                <a href="" class="text-center p-1 px-3"><i class="far fa-angle-right"></i></a>
            </div>
          </div>
      </div>
      <div class="carousel-item">
        <div class="card mx-auto" style="width: 18rem;">
            <img src="assets/Images/card5.png" class="mx-auto p-3" alt="...">
            <div class="card-body">
                <h6 class="card-title">Respite Care</h6>
              <p class="card-text">4x higher coverage limit than traditional policies for computers and home office equipment.</p>
            </div>
            <div class="next text-right m-2">
                <a href="" class="text-center p-1 px-3"><i class="far fa-angle-right"></i></a>
            </div>
          </div>
      </div>
      <div class="carousel-item">
        <div class="card mx-auto" style="width: 18rem;">
            <img src="assets/Images/card4.png" class="mx-auto p-3" alt="...">
            <div class="card-body">
                <h6 class="card-title">Life-in Aid</h6>
              <p class="card-text">4x higher coverage limit than traditional policies for computers and home office equipment.</p>
            </div>
            <div class="next text-right m-2">
                <a href="" class="text-center p-1 px-3"><i class="far fa-angle-right"></i></a>
            </div>
          </div>
      </div>
      <div class="carousel-item">
        <div class="card mx-auto" style="width: 18rem;">
            <img src="assets/Images/card4.png" class="mx-auto p-3" alt="...">
            <div class="card-body">
                <h6 class="card-title">Memory Care</h6>
              <p class="card-text">4x higher coverage limit than traditional policies for computers and home office equipment.</p>
            </div>
            <div class="next text-right m-2">
                <a href="" class="text-center p-1 px-3"><i class="far fa-angle-right"></i></a>
            </div>
          </div>
      </div>
      <div class="carousel-item">
          <div class="card mx-auto" style="width: 18rem;">
            <img src="assets/Images/card3.png" class="mx-auto p-3" alt="...">
            <div class="card-body">
                <h6 class="card-title">Memory Care</h6>
                <p class="card-text">4x higher coverage limit than traditional policies for computers and home office equipment.</p>
            </div>
            <div class="next text-right m-2">
                <a href="" class="text-center p-1 px-3"><i class="far fa-angle-right"></i></a>
            </div>
        </div>
    </div>
      
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="p-4 col-sm-12">
    <div class="card mx-auto shadow bg-body rounded" style="width: 18rem;">
      <img src="assets/Images/phone (2) 1.png " class="mx-auto p-4 h-100" alt="...">
      <div class="card-body text-center">
          <h6 class="card-title">Do you need support?</h6>
        <p class="card-text">We glad to help</p>
        <button class="btn mt-4 px-4 py-3">CONTACT US</button>
      </div>
    </div>
  </div>