<div class="d-flex justify-content-center flex-row  p-3 mx-5">
    <div class="p-4 col-lg-4 my-auto">
        <h2>Your peace of mind is
            <span>our number one priority.</span></h2>
            <hr class="my-5">
            <p class="mt-5">UniversaCare offers a range of services for in-home care. We are your partners in care, and work with you to come up with a plan of action.</p>
        </div>
        <div class="p-2 mt-3">
            <div class="card" style="width: 13rem;">
                <img src="assets/Images/card3.png" class="mx-auto p-3">
                <div class="card-body">
                    <h6 class="card-title">Hourly Home care</h6>
                    <p class="card-text">4x higher coverage limit than traditional policies for computers and home office equipment.</p>
                </div>
                <!-- <a href="" class="text-center m-2"><i class="far fa-angle-right"></i></a> -->
                <div class="next text-right m-2">
                    <a href="" class="text-center py-1 px-3"><i class="far fa-angle-right"></i></a>
                </div>
            </div>
        </div>
        <div class="p-2 mt-3">
            <div class="card" style="width: 13rem;">
                <img src="assets/Images/card2.png" class="mx-auto p-3" alt="...">
                <div class="card-body">
                    <h6 class="card-title">Personal Care</h6>
                    <p class="card-text">4x higher coverage limit than traditional policies for computers and home office equipment.</p>
                </div>
                <div class="next text-right m-2">
                    <a href="" class="text-center p-1 px-3"><i class="far fa-angle-right"></i></a>
                </div>
            </div>
        </div>
        <div class="p-2 mt-3 flex-last">
            <div class="card" style="width: 13rem;">
                <img src="assets/Images/card1.png" class="mx-auto p-3" alt="...">
                <div class="card-body">
                    <h6 class="card-title">Private Nursing</h6>
                    <p class="card-text">4x higher coverage limit than traditional policies for computers and home office equipment.</p>
                </div>
                <div class="next text-right m-2">
                    <a href="" class="text-center p-1 px-3"><i class="far fa-angle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
        <div class="d-flex flex-wrap justify-content-center flex-row  p-3 mx-5">
        <div class="p-2 mt-3">
            <div class="card" style="width: 13rem;">
                <img src="assets/Images/card5.png" class="mx-auto p-3" alt="...">
                <div class="card-body">
                    <h6 class="card-title">Respite Care</h6>
                  <p class="card-text">4x higher coverage limit than traditional policies for computers and home office equipment.</p>
                </div>
                <div class="next text-right m-2">
                    <a href="" class="text-center p-1 px-3"><i class="far fa-angle-right"></i></a>
                </div>
              </div>
        </div>
        <div class="p-2 mt-3 ">
            <div class="card" style="width: 13rem;">
                <img src="assets/Images/card4.png" class="mx-auto p-3" alt="...">
                <div class="card-body">
                    <h6 class="card-title">Life-in Aid</h6>
                  <p class="card-text">4x higher coverage limit than traditional policies for computers and home office equipment.</p>
                </div>
                <div class="next text-right m-2">
                    <a href="" class="text-center p-1 px-3"><i class="far fa-angle-right"></i></a>
                </div>
              </div>
        </div>
        <div class="p-2 mt-3">
            <div class="card" style="width: 13rem;">
                <img src="assets/Images/card5.png" class="mx-auto p-3" alt="...">
                <div class="card-body">
                    <h6 class="card-title">Memory Care</h6>
                  <p class="card-text">4x higher coverage limit than traditional policies for computers and home office equipment.</p>
                </div>
                <div class="next text-right m-2">
                    <a href="" class="text-center p-1 px-3"><i class="far fa-angle-right"></i></a>
                </div>
              </div>
        </div>
        <div class="p-2 mt-3">
            <div class="card" style="width: 13rem;">
                <img src="assets/Images/card3.png" class="mx-auto p-3" alt="...">
                <div class="card-body">
                    <h6 class="card-title">Memory Care</h6>
                  <p class="card-text">4x higher coverage limit than traditional policies for computers and home office equipment.</p>
                </div>
                <div class="next text-right m-2">
                    <a href="" class="text-center p-1 px-3"><i class="far fa-angle-right"></i></a>
                </div>
              </div>
        </div>
        <div class="p-2 mt-3 flex-last">
            <div class="card " style="width: 13rem;">
                <img src="assets/Images/phone (2) 1.png " class="mx-auto p-4 h-100" alt="...">
                <div class="card-body text-center">
                    <h6 class="card-title">Do you need support?</h6>
                  <p class="card-text">We glad to help</p>
                  <button class="btn mt-4 px-4 py-3">CONTACT US</button>
                </div>
              </div>
        </div>
    </div>
    <!-- <app-carousel></app-carousel> -->
