<header id="header1">
    <div class="container-fluid">
        <div class="row mx-4">
          <div class="col-sm my-auto p-5">
            <h1 class="display-5">The Future of Health Care is Home Care</h1>
            <p>Over a Decade of Trusted Care</p>
            <!-- <a href="" class="mt-5">REQUEST AN APPOINTMENT</a> -->
            <button class="btn px-4 py-3 mt-5">REQUEST AN APPOINTMENT</button>
          </div>
          <div class="col-sm">
            <img src="assets/Images/Vector 1.png" alt="">
            <!-- <img src="assets/Images/vector-1.png" alt="" id="img"> -->
          </div>
        </div>
    </div>
</header>

<header id="header2">
<!-- <div class="container-fluid"> -->
  <div class="col">
    <img src="assets/Images/vector-1.png" alt="">
  </div>
  <div class="col my-5">
    <h1 class="display-5 mx-4">The Future of Health Care is Home Care</h1>
    <p class="mx-4">Over a Decade of Trusted Care</p>
    <!-- <a href="" class="mt-5">REQUEST AN APPOINTMENT</a> -->
    <button class="btn p-3 mt-2 mx-4">REQUEST AN APPOINTMENT</button>
  </div>
<!-- </div> -->
</header>
