<div class="footer-top">
    
        <div class="container-fluid">
            <div class="row">
                <div class="col m-auto">
                    <h3 class="text-center py-5">WE DO WHATEVER IT MAKES TO BRING YOU PEACE OF MIND</h3>
                    <button class="btn px-4 py-3 mt-2 mx-4">REQUEST AN APPOINTMENT</button>
                </div>
                <div class="col mt-4">
                    <img src="assets/Images/Group.png" alt="">
                </div>
            </div>  
        </div>
        <div class="next1 text-center m-5">
            <a href="" class="text-center p-2"><i class="far fa-chevron-up"></i></a>
        </div>
</div>

<footer>
    <div class="shadow-sm p-3 mb-3 bg-body rounded">

        <div class="container">
            <div class="next text-right m-5">
                <a href="" class="text-center p-2 px-3"><i class="far fa-chevron-up"></i></a>
            </div>
            <div class="row mt-4">
                <div class="col-lg-3">
                    <h6>HEADQUARTERS</h6>
                    <p class="w-50">
                        246-50 57th Drive Douglaston, NY 11362 hello@universacare.com P: (718) 224-3758 F: 8777999065
                    </p>
                    
                      <div class="logo my-3">
                        <img src="assets/Images/UC-Logo.png" alt="">
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <h6>SERVICES</h6>
                    <ul class="list-group">
                        <li class="list-item"><a href=""> Hourly Care</a></li>
                        <li class="list-item"><a href=""> Daily Care</a></li>
                        <li class="list-item"><a href=""> Hospital to Home</a></li>
                        <li class="list-item"><a href=""> Respite Care</a></li>
                        <li class="list-item"><a href=""> Specialized Care</a></li>
                      </ul>
                      
                </div>
                <div class="col-lg-3 col-6">
                    <h6>COMPANY</h6>
                    <ul class="list-group">
                        <li class="list-item"><a href=""> About Us    </a>  </li>
                        <li class="list-item"><a href=""> Locations   </a>  </li>
                        <li class="list-item"><a href=""> Caregives   </a>  </li>
                        <li class="list-item"><a href=""> News & Blog </a>  </li>
                        <li class="list-item"><a href=""> Contact Us  </a>  </li>
                        <li class="list-item"><a href=""> FAQ         </a>  </li>
                      </ul>
                </div>
                <div class="col-lg-3">
                    <label for="exampleFormControlInput1" class="form-label">Sign up to receive the latest articles</label>
                    <input class="form-control" type="text" placeholder="Enter your Email" aria-label="default input example">
                    <button class="btn px-3 mt-3">SUBMIT</button>
                    <ul class="list-inline my-3">
                        <li class="list-inline-item"><img src="assets/Images/chap1.png" alt=""></li>
                        <li class="list-inline-item"><img src="assets/Images/NYC.png" alt=""></li>
                    </ul>
                    <ul class="list-inline">
                        <li class="list-inline-item"><a href="">Follow Us</a></li>
                        <li class="list-inline-item"><i class="fab fa-facebook-square"></i></li>
                        <li class="list-inline-item"><i class="fab fa-instagram"></i></li>
                        <li class="list-inline-item"><i class="fab fa-linkedin"></i></li>
                        <li class="list-inline-item"><i class="fab fa-twitter"></i></li>
                      </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="text-center">
    <p>Copyright 2020 <span style="color: #FFC03D;">Universacare</span> - All rights reserved.</p>
</div>
<div class="footer-bottom">
<div class="container">
    <div class="row">
        <div class="col-lg-8 m-auto">
            <h3 class="w-50">WE DO WHATEVER IT MAKES TO BRING YOU PEACE OF MIND</h3>
            <button class="btn px-4 py-3 mt-3">REQUEST AN APPOINTMENT</button>
        </div>
        <div class="col-lg-4 mt-4">
            <img src="assets/Images/Group.png" alt="">
        </div>
    </div>
</div>
<div class="btm-img">
    <img src="assets/Images/bottom_img.png" alt="">
</div>
</div>

