<div class="top py-5 pl-5">
  <div class="d-flex flex-wrap my-5 ">
    <div class="card mx-auto">
        <div class="card-body pl-5">
      <h1>5.0</h1>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fas fa-star"></i></li>
        <li class="list-inline-item"><i class="fas fa-star"></i></li>
        <li class="list-inline-item"><i class="fas fa-star"></i></li>
        <li class="list-inline-item"><i class="fas fa-star"></i></li>
      </ul>
      <p class="mt-1">
        2,054 verified customers reviews by
        <span style="font-weight: bold">Google.</span>
      </p>
      </div>
    </div>
    <div class="card mx-auto shadow-sm bg-body rounded" style="width: 18rem">
      <div class="card-body">
        <h6 class="card-title">Alvin Stanley</h6>
        <ul class="list-inline">
          <li class="list-inline-item"><i class="fas fa-star"></i></li>
          <li class="list-inline-item"><i class="fas fa-star"></i></li>
          <li class="list-inline-item"><i class="fas fa-star"></i></li>
          <li class="list-inline-item"><i class="fas fa-star"></i></li>
        </ul>
        <p class="card-text">
          Great company to work for! This organization cares for its team of
          caregivers, office employees, and clients. There is always someone
          available to pick up the phone when you need help.
        </p>
      </div>
    </div>
    <div class="card mx-auto shadow-sm bg-body rounded" style="width: 18rem">
      <div class="card-body">
        <h6 class="card-title">Alvin Stanley</h6>
        <ul class="list-inline">
          <li class="list-inline-item"><i class="fas fa-star"></i></li>
          <li class="list-inline-item"><i class="fas fa-star"></i></li>
          <li class="list-inline-item"><i class="fas fa-star"></i></li>
          <li class="list-inline-item"><i class="fas fa-star"></i></li>
        </ul>
        <p class="card-text">
          Great company to work for! This organization cares for its team of
          caregivers, office employees, and clients. There is always someone
          available to pick up the phone when you need help.
        </p>
      </div>
    </div>
    <div class="card mx-auto shadow-sm bg-body rounded" style="width: 18rem">
      <div class="card-body">
        <h6 class="card-title">Alvin Stanley</h6>
        <ul class="list-inline">
          <li class="list-inline-item"><i class="fas fa-star"></i></li>
          <li class="list-inline-item"><i class="fas fa-star"></i></li>
          <li class="list-inline-item"><i class="fas fa-star"></i></li>
          <li class="list-inline-item"><i class="fas fa-star"></i></li>
        </ul>
        <p class="card-text">
          Great company to work for! This organization cares for its team of
          caregivers, office employees, and clients. There is always someone
          available to pick up the phone when you need help.
        </p>
      </div>
    </div>
    <div class="card mt-5" style="width: 18rem;">
        <a href="">SEE ALL REVIEWS <i class="far fa-arrow-right mx-2"></i></a>
    </div>
  </div>
</div>
