<section class="text-center my-5 bg-light p-3">
    <h4 class="py-4 mx-auto">How We Find <span>Best Careviger</span> For You</h4>
    <div class="d-flex flex-wrap justify-content-center m-3">
        <div class="card h-100" style="width: 18rem;">
            <img src="assets/Images/Frame1.png" class="card-img-top mx-auto" alt="...">
            <div class="card-body mt-2">
              <h6 class="card-title">1. Initial Consultation</h6>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eget augue nec massa volutpat aliquam fringilla non.</p>
              <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
          </div>
          <div class="curve">
              <img src="assets/Images/Vector2.png" alt="">
        </div>
          <div class="card h-100" style="width: 18rem;">
            <img src="assets/Images/Frame2.png" class="card-img-top mx-auto" alt="...">
            <div class="card-body mt-2">
              <h6 class="card-title">2. Customized Care Plan</h6>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eget augue nec massa volutpat aliquam fringilla non.</p>
              <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
          </div>
          <div class="curve"><img src="assets/Images/Vector2.png" alt=""></div>  
          <div class="curve1"><img src="assets/Images/Vector1.png" alt=""></div>  
          <div class="card h-100" style="width: 18rem;">
            <img src="assets/Images/Frame3.png" class="card-img-top mx-auto" alt="...">
            <div class="card-body mt-2">
              <h6 class="card-title">3. Caregiver Matching</h6>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eget augue nec massa volutpat aliquam fringilla non.</p>
              <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
          </div>
          <div class="curve1"><img src="assets/Images/Vector1.png" alt=""></div>
          <div class="curve2"><img src="assets/Images/Vector2.png" alt=""></div>
          
          <div class="card h-100" style="width: 18rem;">
            <img src="assets/Images/Frame4.png" class="card-img-top mx-auto" alt="...">
            <div class="card-body mt-2">
              <h6 class="card-title">4. Ongoing Support & Supervision</h6>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eget augue nec massa volutpat aliquam fringilla non.</p>
              <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
          </div>
          <div class="curve2"><img src="./images/Vector2.png" alt=""></div>
    </div>
</section>

<!-- <div class="d-flex flex-wrap align-items-center justify-content-center mx-auto" >
    <div class="flex1">
        <img src="assets/Images/CHAP.png" alt="...">
    </div>
      <div class="flex2 w-50 mx-5 ">
        <h4>CHAP-Standards-of-Excellence-Seal-2 1</h4> 
        <p>UniversaCare, LLC will provide the following home health care programs at flexible schedules and cost-friendly service rates.</p>             
      </div>
</div> -->

<div class="d-flex m-4 flex-wrap align-items-center justify-content-center" id="chap-card">
  <div class="flex1 my-2">
      <img src="assets/Images/CHAP.png" alt="...">
  </div>
    <div class="flex2 p-3 w-50">
      <h4 class="py-2">CHAP-Standards-of-Excellence-Seal-2 1</h4> 
      <p >UniversaCare, LLC will provide the following home health care programs at flexible schedules and cost-friendly service rates.</p>             
    </div>
</div> 